.max-w-prose {
    max-width: 100% !important;
}

/* 1. Centrar imágenes insertadas con Markdown estándar ![]() */
.prose img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}